footer{
  background-color: #002B36;
  min-height: 50px;
  h2 {
    font-family: "museo-slab",serif;
    font-size: 20px;
    color: #fff;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
    background: url(../img/white-line.png) center repeat-x;
    span{
      border-width: 0 34px;
      height: 32px;
      display: inline-block;
      line-height: 35px;
      background-color: #002B36;
      padding: 0 10px;
    }
  }
}
