$pageheader-min-height: 250px;
$header-top-bgc: rgba(#000, .8);
.pageheader{
  // padding: 2rem .9375rem;
  // margin-bottom: 1.5rem;
  min-height: $pageheader-min-height;
  color: #cdbfe3;
  text-align: center;
  background-color: #7C3D55;
  background-image: url("../img/pageheader_bg.jpg");
  background-attachment: fixed;
  .container{
    // min-height: $pageheader-min-height;
    // padding: 2rem .9375rem;
    // background-color: rgba(#000, .5);
  }
}

.pageheader-inner{
  min-height: $pageheader-min-height;
  padding: 2rem .9375rem;
  //padding-top: 50px; //If header top static
  background-color: rgba(#000, .5);
}

@media (min-width: 544px){
  .bd-pageheader {
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 3rem;
    text-align: left;
  }
}

header .navbar{
  border-radius: 0px;
}

.search input{
  border-radius: 0px;
}

// Header-top
// .header-top{
//   position: fixed;
//   width:100%;
//   z-index:99999;
//   background-color: $header-top-bgc;

//   // Submenu
//   .navbar-nav li{
//     &:hover ul{
//       display: block;
//     }
//     ul{
//       display: none;
//       position: absolute;
//       background-color: $header-top-bgc;
//       li{
//         float:none;
//         display: block;
//         margin: 0  !important;
//         a{
//           text-align: left;
//           padding: .5em;
//           min-width:70px;
//         }
//       }
//     }
//   }
// }