// Временные стили для подменю
ul.nav ul li>a {
    display: block;
      margin-left: .25rem;
}

// Dropdown menu (Article icons)
ul.dropdown-menu{
  right: inherit !important;
  position: absolute !important;
  li {
    a{
      @extend .dropdown-item;
    }
    span{
      margin-right: 5px;
    }
  }
}

// Top  menu
ul.navbar-nav li{
  ul.nav-child {
    @extend .dropdown-menu;
    left: inherit;
    top: inherit;
    margin: 0;
    li {
      padding: 0;
      margin: 0 !important;
      float: none !important;
      a{
        color: #9A9B96 !important;
        margin: 0 !important;
        padding: 5px 10px;
        background-color: #FFF;
        &:hover{
          color: #272822 !important;
          background-color: #F2F1F0;
        }
      }
    }
  }
  &:hover ul{
    display: block;
  }
}



// .pull-right{
//   float: right;
// }
