// Обще стили для колонок
.top-pre-first, .top-first, .top-pre-second, .top-second, .top-pre-third, .top-third{
  margin: 0;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  color: #839496;
}

.top-pre-first{
  background-color: #002B36;
}

.top-first
{
  background-color: #073642;
  [class*="col-"]:hover{
    background-color: #184049;
  }
  h3{
    color: #fff;
  }
}
.top-pre-second{
  background-color: #174753;
}
.top-second{
  background-color: #72D0EB;
  color: #fff;
  [class*="col-"]:hover{
    background-color: rgba(#000, .1);
  }
  h3{
    color: #1A4C59;
  }
}

.top-pre-third{
  // background-image: url("../img/top-pre-third.png");
  // background-repeat: fixed;
  // [class*="col-"]{
  //   background-color: rgba(#000, .6)
  // }
}

.top-third{
  background-color: #252831;
  [class*="col-"]:hover{
    background-color: rgba(#000, .3);
  }
  h3{
    color: #fff;
  }
}
